##Force SSL 
Options +FollowSymLinks
#RewriteEngine On
RewriteBase /latest/

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^news/(.*)/(.*)$ ./post.php?id=$1&link=$2