##Force SSL 
Options +FollowSymLinks
#RewriteEngine On
RewriteBase /latest/

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^news/(.*)/(.*)/(.*)$ ./news.php?category=$1&id=$2&link=$3