  .faq-section{background: #e6e6e6;}
  .news-set {max-width: 1366px;background: #fff;padding: 40px 15px 15px 15px;}
  .news-detail{color: #202020;font-family: Verdana,Arial,Helvetica,sans-serif;font-size: 1rem;font-weight: 500;line-height: 2.2;text-decoration: underline;}
  .news-detail a:hover {color: #86828C;}
  .title {font-size: 1.5rem;font-weight: 600;letter-spacing: -0.5px;line-height: 1.3;}