##Force SSL 
Options +FollowSymLinks
RewriteEngine On
RewriteBase /

#Normal way (in case you need to deploy to NON-heroku)
RewriteCond %{HTTPS} !=on

#Heroku way
RewriteCond %{HTTP:X-Forwarded-Proto} !https 

#If neither above conditions are met, redirect to https
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}.php -f

RewriteRule ^explorer$ ./explorer.php 
RewriteRule ^wallet/(.*)$ ./wallet.php?user=$1 [L,R=301]