##Force SSL 
Options +FollowSymLinks
#RewriteEngine On
RewriteBase /

#Normal way (in case you need to deploy to NON-heroku)
#RewriteCond %{HTTPS} !=on

#Heroku way
#RewriteCond %{HTTP:X-Forwarded-Proto} !https 

#If neither above conditions are met, redirect to https
#RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f


RewriteRule ^share$ ./share.php
RewriteRule ^dlikeshare$ ./dlikeshare.php

RewriteRule ^dliker$ ./dliker.php
RewriteRule ^welcome$ ./welcome.php
RewriteRule ^welcome/(.*)$ ./welcome.php?ref=$1
RewriteRule ^post/@(.*)/(.*)$ ./post.php?user=$1&link=$2

RewriteRule ^tags/(.*)$ ./dlike_tags.php?tag=$1
RewriteRule ^category/(.*)$ ./dlike_category.php?cat=$1
RewriteRule ^profile/(.*)$ ./dlike_profile.php?user=$1
RewriteRule ^post/(.*)/(.*)$ ./dlike_post.php?user=$1&link=$2
RewriteRule ^posts/(.*)$ ./dlike_posts.php?page=$1
RewriteRule ^trending$ ./dlike_trending.php
RewriteRule ^wallet$ ./dlike_wallet.php
RewriteRule ^staking$ ./dlike_staking.php
RewriteRule ^rewards$ ./dlike_rewards.php
RewriteRule ^steemposts$ ./steemposts.php
RewriteRule ^explorer$ ./dlike_transactions.php
RewriteRule ^explorer/(.*)$ ./dlike_transactions.php?user=$1