##Force SSL 
Options +FollowSymLinks
#RewriteEngine On
RewriteBase /

#Normal way (in case you need to deploy to NON-heroku)
#RewriteCond %{HTTPS} !=on

#Heroku way
#RewriteCond %{HTTP:X-Forwarded-Proto} !https 

#If neither above conditions are met, redirect to https
#RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^explorer$ ./explorer.php
RewriteRule ^wallet$ ./wallet.php
RewriteRule ^share$ ./share.php
RewriteRule ^story$ ./story.php
RewriteRule ^privacy$ ./privacy.php
RewriteRule ^terms$ ./terms.php
RewriteRule ^cookies$ ./cookies.php
RewriteRule ^rewards$ ./rewards.php
RewriteRule ^how-it-works$ ./how-it-works.php
RewriteRule ^wallets/(.*)$ ./wallets.php?user=$1
RewriteRule ^@/?(.*)$ ./profile.php?user=$1
RewriteRule ^dliker$ ./dliker.php
RewriteRule ^tokensale$ ./tokensale.php
RewriteRule ^welcome$ ./welcome.php
RewriteRule ^welcome/(.*)$ ./welcome.php?ref=$1
RewriteRule ^tags/(.*)$ ./tags.php?tag=$1
RewriteRule ^category/(.*)$ ./category.php?cat=$1
RewriteRule ^post/@(.*)/(.*)$ ./post.php?user=$1&link=$2
RewriteRule ^help$ ./help.php
RewriteRule ^staking$ ./staking.php
#RewriteRule ^token$ ./token.php
RewriteRule ^convertdlike$ ./convertdlike.php
RewriteRule ^profile/(.*)$ ./dlike_profile.php?user=$1
RewriteRule ^post/(.*)/(.*)$ ./dlike_post.php?user=$1&link=$2
RewriteRule ^posts/(.*)$ ./dlike_posts.php?page=$1